#add{
    text-align: center;
}

.form-button{
    width: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: lime;
    transition: 0.2s;
}

.form-button:hover{
    background-color: #39a157;
}

.form_field{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#id_name{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

.forma{
    display: grid;
    grid-template-columns: 100%;

}

#id_price{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

.form-field{
    text-align: center;
}

#id_product_code{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_age_start{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_age_end{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_height{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_width{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_length{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_weight{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_concrete{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_installation_time{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 5px;
    margin: 5px;
}

#id_photo{
    margin: 5px;
    margin-bottom: 20px;
}

.edit{
    display: grid;
    grid-template-columns: 35% 45% 20%;
}

h2{
    text-align: center;
}

.tags-list{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}



.categories-list{
    display: grid;
    grid-template-columns: 100%;
}



.tag{
    display: inline;
    margin-bottom: 10px;
}